
@{
    ViewBag.Title = "Post_Registration";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}
<h2 style="margin-top:80px;">succesfully registered!</h2>

<h2> <a href="@Url.Action("Index","Login")">login</a> and start using twitter!</h2>