@model tweetProject.Models.fullUserDataViewModel
@{
    ViewBag.Title = "Chat";
}
<h2>Chat</h2>
<div class="container">
    <input type="text" id="message" placeholder="write post here" />
    <input type="button" id="sendmessage" value="Send" />
</div>
<div class="container" style="margin-top:20px;">
    <input type="text" id="message1" placeholder="comment post here" />
    <input type="button" id="sendmessage1" value="Send" />
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var post = $.connection.postHub;
            var followersIDs = [];
           $('#message').focus();
            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    var input = document.querySelector("#message");
                    var val = input.value;
                    $.post("/Home/postUpdate", { text: val, id:@Model.ID }, function (result) {
                        if (result) {
                            post.server.sendPost(result, $('#message').val());
                            $('#message').val('').focus();
                        }
                    });
                });
                $('#sendmessage1').click(function () {
                    var input = document.querySelector("#message1");
                    var val = input.value;
                    $.post("/Home/commentUpdate", { text: val, userId:@Model.ID, postId:1 }, function (result) {
                        if (result) {
                            post.server.sendComment(result, $('#message1').val(),1);
                            $('#message1').val('').focus();
                        }
                    });
                });
                $('#searchValue').keyup(function () {
                    var input = document.querySelector("#searchValue");
                    var val = input.value;
                    $.post("/Search/Index", { text: val}, function (result) {
                        if (result) {
                            for (var i=0; i< result.length; i++){
                                $('#searchList').append('<li>' + result[i].Name + '</li>');
                            }
                        }
                    });
                });
            });
            post.client.addNewMessageToPage = function (id, message) {
                $('#postUpdate').prepend('<p id="'+ htmlEncode(id) +'">' + htmlEncode(message) + '</p>');
            };
            post.client.addNewMessageToPage1 = function (id, message,userid) {
                $('#commentUpdate').prepend('<p id="'+ htmlEncode(id) +'">' +userid + '  ' + htmlEncode(message) + '</p>');
            };
        });
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
}



<div id="postUpdate" style="margin-top:100px; border:5px solid black">
    <h3>postebi goes here </h3>
    @foreach (var post in Model.timelinePosts)
    {
        @:<p id="@post.ID">@post.post1</p>
    }

</div>


<div id="commentUpdate" style="margin-top:20px; border:5px solid blue;">
    <h3>komentarebi goes here</h3>

    @foreach (var comment in Model.timelineComments)
    {
        @:<p id="@comment.ID">@comment.comment1</p>
    }

</div>


<div style="margin-top:30px; border:5px solid green">
<input type="text" id="searchValue" placeholder="type here"/>
    <input type="submit" id="ghilaki"/>
    profilze gadamisamarteba
    <p id="texti">paragrafi</p>
    <ul id="searchList">
      

    </ul>
</div>
